/* LISTE DE BOUTONS */
.homelisttheme {
	display: flex;
	gap: 2rem;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

/* BOUTONS */
.HomeThemeButton {
	padding: 1.3em 3em;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.HomeThemeButton:hover {
	background-color: #3be19e94;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
}
