@import url("https://fonts.googleapis.com/css2?family=Acme&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.logInandLogOutBlock {
	display: flex;
	align-items: center;
}
.registerButton {
	border: 0px;
	cursor: pointer;
}
.backgroundLogin {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
	padding-top: 100px;
}

.formulaireLogin {
	background-color: rgba(250, 250, 250, 1);
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 200px;
}

.formulaireLogin form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.formulaireLogin div {
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	font-family: "roboto", sans-serif;
}

.formulaireLogin label {
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
	font-size: 18px;
}

.formulaireLogin input {
	width: 95%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

.formulaireLogin .buttons {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 15px;
}

.formulaireLogin input[type="submit"] {
	background-color: #ffffff;
	color: black;
	border: none;
	padding: 12px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 18px;
	width: 50%;
	text-align: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulaireLogin input[type="submit"]:hover {
	background-color: #c9f3de;
}
.registerButton:hover {
	font-size: 14px;
}
