.container {
	text-align: center;
	font-family: "Arial", sans-serif;
	background-color: #f5f5f5;
	padding-bottom: 50px;
}

.banner {
	position: relative;
	width: 100%;
	height: 300px;
}

.banner img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.title {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 28px;
	font-weight: bold;
	color: black;
	background-color: #f5f5f5;
}
.tags {
	display: flex;
	justify-content: center;
	gap: 200px;
	margin: 50px 0 50px 0;
}
.tag {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
}

.tag img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border: none;
	border-radius: 25px;
	cursor: pointer;
}

.tag-name {
	font-family: "Acme", sans-serif;
	font-weight: bold;
	text-align: center;
	max-width: 200px;
	word-wrap: break-word;
	font-size: 20px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.trip-card img {
	margin-top: 50px;
	width: 200px;
	height: 200px;
	object-fit: cover;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	font-family: "Acme", sans-serif;
}
