@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

:root {
	--white: #ffffff;
	--beige: #fceada;
	--gray: #d3d3d3;
	--light-green: #c9f3de;
	--brown: #c0b6a1;
	--green: #c9f3de;
	--black: #000000;
	--button: #55b6a5;
}

.step1-container-addtrip {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	gap: 25px;
	width: 100%;
	text-align: center;
}

.Name-h1-step1 {
	width: 100%;
	max-width: 800px;
	background-color: #d1f4e1;
	font-family: "Acme", sans-serif;
	font-size: 2rem;
	text-align: center;
	padding: 15px;
	border-radius: 8px;
	margin-bottom: 80px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.step1-search-addtrip input[type="text"] {
	width: 100%;
	max-width: 500px;
	padding: 10px 15px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 8px;
	outline: none;
	transition: border-color 0.3s, box-shadow 0.3s;
}

.step1-search-addtrip input[type="text"]::placeholder {
	color: #aaa;
	font-style: italic;
}

.step1-search-addtrip input[type="text"]:focus {
	border-color: #28a745;
	box-shadow: 0 0 6px rgba(40, 167, 69, 0.5);
}

.AddTrip1NextButton {
	width: 300px;
	height: 50px;
	background-color: var(--button);
	border: none;
	border-radius: 25px;
	cursor: pointer;
	font-family: "Acme", sans-serif;
	font-size: 1.5rem;
	color: #fff;
	transition: background-color 0.3s;
	margin-top: 50px;
	color: var(--black);
}

.AddTrip1NextButton:hover {
	background-color: #218838;
}

.error-allstep {
	color: red;
	font-weight: 900;
	font-size: 1.2rem;
	margin-top: 15px;
}

.step2-container-addtrip {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	gap: 50px;
	text-align: center;
}

.name-h1-step2 {
	font-size: 2rem;
	font-family: "Acme", sans-serif;
	background-color: #d1f4e1;
	width: 100%;
	max-width: 800px;
	padding: 15px;
	border-radius: 8px;
	margin: 0 auto;
}

.step2-container-start-end-at {
	display: flex;
	gap: 10vw;
}
.next-back-button-container {
	display: flex;
}
.button-step2-next {
	width: 200px;
	height: 50px;
	background-color: var(--button);
	border: none;
	border-radius: 25px;
	cursor: pointer;
	font-family: "Acme", sans-serif;
	font-size: 1.5rem;
	color: #fff;
	transition: background-color 0.3s;
	margin-right: 100px;
}

.button-step2-next:hover {
	background-color: #218838;
}

.button-step2-back {
	background-color: white;
	border: none;
	margin-top: 5px;
	display: inline;
}
.img-back-button {
	height: 8vh;
	margin-right: 50px;
}

.button-step2-next {
	width: 600px;
	height: 60px;
	background-color: var(--button);
	border-radius: 30px;
	cursor: pointer;
	font-family: "Acme", sans-serif;
	font-size: 2rem;
}

.start-end-h2-name {
	font-family: "Acme", sans-serif;
}

.step3-container-addtrip {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	gap: 25px;
	text-align: center;
}

.step3-container-addtrip input[type="text"] {
	width: 100%;
	max-width: 500px;
	padding: 10px 15px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 8px;
	outline: none;
}
