:root {
	--white: #ffffff;
	--beige: #fceada;
	--gray: #d3d3d3;
	--light-green: #c9f3de;
	--brown: #c0b6a1;
	--green: #55b6a5;
	--black: #000000;
}

.AddTrip1Header {
	background-color: var(--light-green);
	height: 168px;
}
.AddTrip1NextButton {
	width: 763px;
	height: 98px;
	background-color: var(--green);
	border-radius: 30px;
	cursor: pointer;
}
