@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

:root {
	--white: #ffffff;
	--beige: #fceada;
	--gray: #d3d3d3;
	--light-green: #c9f3de;
	--brown: #c0b6a1;
	--green: #c9f3de;
	--black: #000000;
	--button: #55b6a5;
}
.step1-container-addtrip {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	gap: 25vh;
	width: 100%;
	text-align: center;
}

.Name-h1-step1 {
	margin-bottom: 15vh;
	background-color: var(--green);
	font-family: "Acme", sans-serif;
	font-size: 2rem;
}

.AddTrip1NextButton {
	width: 600px;
	height: 60px;
	background-color: var(--button);
	border-radius: 30px;
	cursor: pointer;
	font-family: "Acme", sans-serif;
	font-size: 2rem;
}

.step2-container-addtrip {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	text-align: center;
}

.name-h1-step2-first {
	font-size: 2rem;
	font-family: "Acme", sans-serif;
}

.name-h1-step2-second {
	font-size: 2rem;
	font-family: "Acme", sans-serif;
}

.step2-container-start-end-at {
	display: flex;
	gap: 10vw;
}
/* 
.start-at-step2 {
}

.end-at-step2 {
}

.button-step2-back {
} */

.button-step2-next {
	width: 600px;
	height: 60px;
	background-color: var(--button);
	border-radius: 30px;
	cursor: pointer;
	font-family: "Acme", sans-serif;
	font-size: 2rem;
}

.start-end-h2-name {
	font-family: "Acme", sans-serif;
}
