@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

:root {
	--white: #ffffff;
	--beige: #fceada;
	--gray: #d3d3d3;
	--light-green: #c9f3de;
	--brown: #c0b6a1;
	--green: #c9f3de;
	--black: #000000;
	--button: #55b6a5;
	--acme: "Acme", sans-serif;
}

.tripCard-block-title {
	display: flex;
	justify-content: center;
}
.tripCard-trip-title {
	font-size: 5rem;
	font-family: var(--acme);
}
.tripCard-dates-description-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tripCard-dates {
	font-family: var(--acme);
	font-size: 2.5rem;
	letter-spacing: 0.2rem;
	margin: 0.8rem;
}
.tripCard-description-title {
	font-family: var(--acme);
	font-size: 2.5rem;
	margin: 1.5rem;
}
.tripCard-description-text {
	font-family: var(--acme);
	font-size: 1.8rem;
}
.tripCard-description-block {
	background-color: var(--light-green);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tripCard-buttonBack {
	width: 5vw;
	height: 10vh;
}

.tripCard-buttonBack-block {
	display: flex;
	justify-content: flex-start;
	align-self: flex-start;
	width: 100%;
}
.tripCard-image-block {
	height: 37.69rem;
	width: 36.75rem;
	background-color: var(--light-green);
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 30px;
	border-radius: 10px;
}
.tripCard-trip-image {
	height: 31.69rem;
	width: 31.69rem;
	border-radius: 10px;
}
