.home-container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 0;

	background-image: url(../../assets/images/Designe.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

header {
	position: relative;
	text-align: center;
	font-size: 2.5rem;
	color: black;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 20px;
	font-weight: bold;
	padding-top: 3rem;
}
header > h1 {
	font-size: 2.5rem;
	font-family: "Roboto", sans-serif;
}
#search-theme {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7rem;
}
.selector {
	text-align: center;
	font-size: 2.5rem;
	height: 0rem;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
