/* CONTAINER PRINCIPAL */
.home-container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 0;

	/* GESTION DU BACKGROUND */
	background-image: url(../../assets/images/Designe.jpeg);
	background-size: cover; /* Assure que l'image prend toute la page */
	background-position: center; /* Centre l'image */
	background-repeat: no-repeat; /* Empêche la répétition */
}
/* HEADER */
header {
	position: relative; /* Plus besoin de absolute */
	width: 100%;
	text-align: center;
	font-size: 2.5rem;
	color: black;
	background-color: rgba(255, 255, 255, 0.3); /* Fond blanc légèrement opaque */
	padding: 20px;
	font-weight: bold;
}
#search-theme {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7rem;
}
