.home-container {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.background-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

header {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2rem;
	color: white;
	z-index: 1;
}
