.home-container {
	background-image: url("../../assets/images/background_projet3.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
header {
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 3rem;
	text-transform: uppercase;
	width: 80%;
}
