.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(var(--banner-rgb), 0.4);
	position: fixed;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
}
