.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(var(--banner-rgb), 0.4);
	width: 100%;
	box-sizing: border-box;
	padding: 1rem 2rem;
	color: black;
}
