@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

.tripCardContainer-tripTitle {
	border-right: solid 3px black;
	white-space: nowrap;
	overflow: hidden;
	font-family: "Source Code Pro", monospace;
	font-size: 7rem;
	color: black;
	margin: 0 auto;
}

/* Animation */
.tripCardContainer-tripTitle {
	animation: animated-text 4s steps(29, end) 1s 1 normal both, animated-cursor
		600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
	from {
		width: 0;
	}
	to {
		width: 472px;
	}
}

/* cursor animations */

@keyframes animated-cursor {
	from {
		border-right-color: rgb(255, 255, 255);
	}
	to {
		border-right-color: transparent;
	}
}
.tripCardContainer-images {
	display: flex;
	justify-content: center;
	gap: 1.5rem;
	margin-top: 2rem;
}

.tripCardContainer-imageWrapper {
	width: 55rem;
	height: 18rem;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.tripCardContainer-tripImage,
.tripCardContainer-tripFlag {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease-in-out;
}

.tripCardContainer-tripImage:hover,
.tripCardContainer-tripFlag:hover {
	transform: scale(1.05);
}

.tripCardContainer-info {
	margin: 2rem auto;
	width: 80%;
	max-width: 50rem;
	padding: 1.5rem;
	border-radius: 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.tripCardContainer-calendar {
	padding: 0.5rem;
	background: white;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
	border-radius: 1rem;
}
.tripCardContainer-datesTitle {
	font-size: 1.5rem;
	color: var(--black);
	margin-bottom: 0.5rem;
	font-weight: bold;
}

.tripCardContainer-dates {
	font-size: 1.3rem;
	color: #000;
	margin: 1rem;
}

.tripCardContainer-description {
	margin-top: 1.5rem;
	text-align: left;
	background: white;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
	border-radius: 1rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.tripCardContainer-descriptionTitle {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--black);
	margin-bottom: 1rem;
}

.tripCardContainer-descriptionText {
	font-size: 1.2rem;
	line-height: 1.5;
	color: var(--black);
}

.tripCardContainer-backButtonWrapper {
	position: fixed;
	bottom: 50px;
	left: 5px;
}

.tripCardContainer-backButton {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	transition: transform 0.3s ease, opacity 0.3s ease;
	height: 4rem;
	padding: 1rem;
}

.tripCardContainer-backButton img {
	padding: 1rem;
	height: 5rem;
	width: 4rem;
	object-fit: contain;
	transition: transform 0.3s ease-in-out;
}

.tripCardContainer-backButton:hover {
	transform: scale(1.2);
	opacity: 0.8;
}

.tripCardContainer-backButton:hover {
	transform: rotate(180deg);
}

.tripCardContainer-backButton:active img {
	transform: scale(0.95);
}

/* Responsive */
@media (max-width: 768px) {
	.tripCardContainer-images {
		flex-direction: column;
		align-items: center;
	}

	.tripCardContainer-imageWrapper {
		width: 150px;
		height: 150px;
	}

	.tripCardContainer-info {
		width: 90%;
		padding: 1rem;
	}

	.tripCardContainer-datesTitle {
		font-size: 1.3rem;
	}

	.tripCardContainer-dates {
		font-size: 1.2rem;
	}

	.tripCardContainer-descriptionTitle {
		font-size: 1.3rem;
	}

	.tripCardContainer-descriptionText {
		font-size: 1rem;
	}
}
