@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
:root {
	--white: #ffffff;
	--beige: #fceada;
	--gray: #d3d3d3;
	--light-green: #c9f3de;
	--brown: #c0b6a1;
	--green: #c9f3de;
	--black: #000000;
	--button: #55b6a5;
	--acme: "Acme", sans-serif;
}

.tripCard-block-title {
	display: flex;
	justify-content: center;
}
.tripCard-trip-title {
	font-size: 2.5rem;
	font-family: var(--acme);
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}
.tripCard-dates-description-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tripCard-dates {
	font-family: var(--acme);
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	margin: 0.6rem;
	word-spacing: 2rem;
}
.tripCard-description-title {
	font-family: var(--acme);
	font-size: 1.2rem;
	margin: 1.1rem;
	font-weight: 200;
}
.tripCard-description-text {
	font-family: "Merriweather", serif;
	font-size: 0.8rem;
	font-weight: 700;
	line-height: 1.6;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 1rem;
}
.tripCard-description-block {
	background-color: var(--light-green);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tripCard-buttonBack {
	width: 3vw;
	height: 6vh;
}

.tripCard-buttonBack-block {
	display: flex;
	justify-content: flex-start;
	align-self: flex-start;
	width: 100%;
}
.tripCard-tripImage-block {
	height: 21rem;
	width: 21rem;
	background-color: var(--light-green);
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 1.875rem;
	border-radius: 10px;
}
.tripCard-trip-image {
	height: 19rem;
	width: 19rem;
	border-radius: 10px;
}
.tripCard-images-block {
	display: flex;
	justify-content: space-between;
	margin-right: 1.875rem;
}

@media (max-width: 700px) {
	.tripCard-trip-title {
		font-size: 2.5rem;
		font-family: var(--acme);
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
	}
	.tripCard-dates-description-block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.tripCard-dates {
		font-family: var(--acme);
		font-size: 1.2rem;
		letter-spacing: 0.1rem;
		margin: 0.6rem;
		word-spacing: 2rem;
	}
	.tripCard-description-title {
		font-family: var(--acme);
		font-size: 1.2rem;
		margin: 1.1rem;
		font-weight: 200;
	}
	.tripCard-description-text {
		font-family: "Merriweather", serif;
		font-size: 0.8rem;
		font-weight: 700;
		line-height: 1.6;
		margin-left: 2rem;
		margin-right: 2rem;
		margin-bottom: 1rem;
	}
	.tripCard-description-block {
		background-color: var(--light-green);
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.tripCard-buttonBack {
		width: 10%;
		height: 10%;
	}

	.tripCard-buttonBack-block {
		display: flex;
		justify-content: flex-start;
		align-self: flex-start;
		width: 100%;
	}
	.tripCard-tripImage-block {
		height: 21rem;
		width: 21rem;
		background-color: var(--light-green);
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-left: 1.875rem;
		border-radius: 10px;
	}
	.tripCard-trip-image {
		height: 19rem;
		width: 19rem;
		border-radius: 10px;
	}
	.tripCard-images-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2rem;
	}
}
