.TripSearch {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}
.banner-container {
	position: relative;
	width: 100%;
	height: 55vh;
	overflow: hidden;
}

.banner-image {
	width: 100%;
	height: 100%;
	object-fit: fill;
	display: block;
	margin: 2.5rem 0;
}

.banner-title {
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
	color: white;
	font-size: 2em;
	background-color: rgba(var(--banner-rgb));
	padding: 10px 0;
	margin: 0;
}
.TripSearchListTag {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2.5rem;
}
.TripSearchListCountry {
	width: 100vh;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	align-items: center;
	margin: 5rem 0 1rem 0;
}
.TripSearchButtonPage {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.TripSearchList {
	margin-bottom: 5rem;
}
.GoHomeButton {
	position: fixed;
	bottom: 50px;
	left: 5px;
	background-color: transparent;
	border: 0;
}
.GoHomeButton img {
	height: 25px;
	width: 25px;
}
.active-tag {
	background-color: var(--light-green);
	color: black;
	box-shadow: rgba(0, 0, 0, 0.3) 3px 6px 15px 3px;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
}
.icone {
	width: 80%;
	height: 80%;
}
.inactive-tag {
	background-color: white;
	color: black;
	box-shadow: rgba(0, 0, 0, 0.3) 3px 6px 15px 3px;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
}
